# environment
.idea/
*.iml
target/
venv
env
# local
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.pyc
*.pyo
# other
temp.txt
src/avg_ratings/*.zip
src/filter_ips/*.zip
src/kinesis_analytics/*.zip
src/sagemaker/*.zip
src/spark_emr_job/*.zip
.DS_Store